<div class="slide full-width-image">
  {% unless settings.en_full_width_homepage %}<div class="container">{% endunless %}
  <div class="scaled-text-base">
    <a class="img-cont" href="{{ settings.home_ad_1_url }}">
      <img src="{{ 'home_ad_1.jpg' | asset_url }}" alt="{{ settings.home_ad_1_text | escape }}" />
      {% assign text_size = settings.home_ad_1_text | size %}
      {% if text_size != 0 %}
      <div class="overlay-text overlay-{{ settings.home_ad_1_text_pos }}">
        <div class="inner">
          <h1 class="text"><span class="scaled-text">{{ settings.home_ad_1_text }}</span></h1>
        </div>
      </div>
      {% endif %}
    </a>
  </div>
  {% unless settings.en_full_width_homepage %}</div>{% endunless %}
</div>