{% if article.image and settings.show_article_feat_img_on_article %}
<div class="article-image align-center">{{ article.image | img_url: '2048x2048' | img_tag: article.image.alt }}</div>
{% endif %}

<div class="container">
    <div class="page-header cf">
      <h1 class="majortitle">{{ article.title }}</h1>

      <div class="social-area">
        {% include 'social-sharing' with article %}
        <a class="rsslink" href="{{ blog.url }}.atom" title="{{ blog.title | escape }} RSS"><i class="icon-rss"></i></a>
      </div>
    </div>
</div><!-- /.pagetitle -->

<div class="article">
  <div class="container">
    
    <div class="user-content spaced-row {% if settings.lightbox_imgs %}lightboximages{% endif %}">
      {{ article.content }}
    </div>

    <div class="meta">
      <span class="iconmeta time">
        {{ article.published_at | date: format: 'month_date_year' }}
        <span class="author">{{ 'blogs.article.author' | t: author: article.author }}</span>
      </span>
      {% capture tag_markup %}
      <div class="iconmeta tags">
        <span class="label">{{ 'blogs.article.tags' | t }}:</span>
        {% for tag in article.tags %}
        {% unless tag contains 'meta-' %}
        {{ tag | link_to_tag: tag }}
        {% endunless %}
        {% endfor %}
      </div>
      {% endcapture %}
      {% if tag_markup contains '</a>' %}{{ tag_markup }}{% endif %}
      
      <div class="iconmeta meta-share-mob">{% include 'social-sharing' with article %}</div>
    </div>
    
    <div class="pagination-row pagination-row-tabular">
      <div class="inner">
        <span class="prev">
          {% if blog.previous_article %}
          <a href="{{ blog.previous_article }}"><i class="icon-arrow3-left"></i> <span>{{ 'blogs.article.older_post' | t }}</span></a>
          {% endif %}
        </span>

        <span class="back">{{ 'blogs.article.back_to_blog' | t: blog: blog.title | link_to: blog.url }}</span>

        <span class="next">
          {% if blog.next_article %}
          <a href="{{ blog.next_article }}"><span>{{ 'blogs.article.newer_post' | t }}</span> <i class="icon-arrow3-right"></i></a>
          {% endif %}
        </span>
      </div>
    </div>
    
  </div><!-- /.container -->
</div><!-- /.article -->


{% if blog.comments_enabled? %}
    {% paginate article.comments by 50 %}
        {% if article.comments != blank %}
        <div id="comments" class="container cf padded-row">
            <h4 class="align-centre">{{ 'blogs.comments.title' | t }}</h4>
            
            {% comment %} Loop through approved comments: {% endcomment %}        
            {% for comment in article.comments reversed %}
                <div class="comment spaced-row {% if forloop.first %}first{% endif %}">
                  <div class="gravatar">
                    <img src="//www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}?d={{ 'gravatar_def.png' | asset_url | url_escape }}" alt="{{ comment.author }}" />
                  </div>
                  <div class="detail">
                    <p class="author">{{ 'blogs.comments.author_meta' | t: author: comment.author }}</p>
                    <div class="text">{{ comment.content }}</div>
                  </div>
                </div>
            {% endfor %}
          
            {% comment %} Show a comment that was *just* submitted {% endcomment %}
            {% if comment and comment.created_at %}
                <div class="comment spaced-row">
                  <div class="gravatar">
                    <img src="//www.gravatar.com/avatar/{{ comment.email | remove: ' ' | strip_newlines | downcase | md5 }}?d={{ 'gravatar_def.png' | asset_url | url_escape }}" alt="{{ comment.author }}" />
                  </div>
                  <div class="detail">
                    <p class="author">{{ 'blogs.comments.author_meta' | t: author: comment.author }}</p>
                    <div class="text">{{ comment.content }}</div>
                  </div>
                </div>
            {% endif %}
        </div> <!-- /#comments -->
        
        <div class="container pagination-row">{% include 'pagination-control' %}</div>
        {% endif %}
    {% endpaginate %}
    
    <div id="template" class="container cf form">
        {% form article %}
        <h4 id="add-comment-title">{{ 'blogs.comments.form_title' | t }}</h4>
        
        {% if form.posted_successfully? %}
        <p>{{ 'blogs.comments.success' | t }}</p>
        {% endif %}
        
        {% if blog.moderated? %}
        <p>{{ 'blogs.comments.moderated' | t }}</p>
        {% endif %}
        
        {% if form.errors %}
            <ul class="errors">
            {% for field in form.errors %}
                <li>{{ field | capitalize }} {{ form.errors.messages[field] }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    
        <div class="large_form{% if form.errors contains 'author' %} has-error{% endif %}">
            <label for="comment_author">{{ 'blogs.comments.name' | t }}</label>
            <input type="text" id="comment_author" name="comment[author]" size="40" value="{{form.author}}" />
        </div>
        <div class="large_form{% if form.errors contains 'email' %} has-error{% endif %}">
            <label for="comment_email">{{ 'blogs.comments.email' | t }}</label>
            <input type="text" id="comment_email" name="comment[email]" size="40" value="{{form.email}}" />
        </div>
        <div class="large_form{% if form.errors contains 'body' %} has-error{% endif %}">
            <label for="comment_body">{{ 'blogs.comments.message' | t }}</label>
            <textarea id="comment_body" name="comment[body]" cols="40" rows="5">{{form.body}}</textarea>
        </div>
        
        <div class="action_bottom">
            <input type="submit" value="{{ 'blogs.comments.post' | t }}" id="comment-submit" class="btn" />
        </div>
      
        {% endform %}
    </div> <!-- /.form -->
{% endif %}

