<div class="page-header">
    <h1 class="majortitle">{{ 'cart.general.title' | t }}</h1>
</div>

{% if cart.items == empty %}
    <div class="row-spacing align-centre">
      <p>{{ 'cart.general.empty' | t }}</p>
    </div>
{% else %}
    <form action="/cart" method="post" id="cartform">
        <ul class="item-list divider">
        {% for item in cart.items %}
            <li class="item cf {{ item.product.handle }}">
              <a class="remove toggler" onclick="return confirm('{{ 'cart.general.confirm_remove' | t }}')" href="/cart/change?line={{ forloop.index }}&quantity=0">&#215;</a>
              
              <div class="image">
                <a href="{{ item.url }}"><img src="{{ item | img_url: 'small' }}"  alt="{{ item.title | escape }}" /></a>
              </div>

              <div class="desc">
                <div>
                  <a class="name" href="{{ item.url }}">{{ item.product.title }}</a>
                  {% if item.product.variants.size > 1 %}
                  <span class="variant">{{ item.variant.title }}</span>
                  {% endif %}
                </div>
                
                {% for p in item.properties %}
                {% unless p.last == blank %}
                <span class="custom">{{ p.first }}:
                  {% if p.last contains '/uploads/' %}
                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                  {{ p.last }}
                  {% endif %}
                </span>
                {% endunless %}
                {% endfor %}
              </div>

              <div class="quantotal">
                <div class="quantity">
                  <label for="updates_{{ item.id }}">{{ 'cart.general.quantity' | t }}</label> 
                  <input class="select-on-focus" type="text" size="2" id="updates_{{ item.id }}" name="updates[]" value="{{ item.quantity }}" />
                </div>
                <div class="line-total">{{ item.line_price | money }}</div>
              </div>
            </li><!-- /.item -->
        {% endfor %}
        </ul>
        
        <div class="divider cf">
            <div class="checkout-note layout-column-half-left">
                <label for="note">{{ 'cart.label.note' | t }}</label>
                <div class="textareawrapper"><textarea id="note" name="note">{{ cart.note }}</textarea></div>
            </div><!-- /.checkout-note -->
            
            <div class="totals-area layout-column-half-right">
                <div class="checkout-col">
                    <h2 class="subtotal h1-style">{{ cart.total_price | money }}</h2>
                    
                    {% if settings.cart_terms_show %}
                        <div class="termsagreement">
                          <input type="checkbox" id="terms" />
                          {% assign terms_url = pages[settings.cart_terms_page].url %}
                          <label for="terms">{{ 'cart.terms.agreement_html' | t: terms_url: terms_url }}</label>
                          <script>
                            $(document).on('click', '#cartform [name="checkout"], #additional-checkout-buttons input, a[href="/checkout"]', function() {
                              var $form = $('#cartform');
                              if($form.has('#terms') && $form.find('#terms:checked').length == 0) {
                                alert({{ 'cart.terms.confirmation' | t | json }});
                                return false;
                              }
                            });
                          </script>
                        </div>
                    {% endif %}
                    
                    <div class="checkout-buttons">
                        <input type="submit" class="notabutton" name="update" value="{{ 'cart.general.update' | t }}" /> {{ 'cart.general.or' | t }} 
                        <input type="submit" class="altaltcolour" id="update-cart" name="checkout" value="{{ 'cart.general.checkout' | t }}" />
                        {% if additional_checkout_buttons %}
                        <div id="additional-checkout-buttons">
                            <span>{{ 'cart.label.other_payment_types' | t }}</span>
                            {{ content_for_additional_checkout_buttons }}
                        </div>
                        {% endif %}
                    </div>
                    
                    <div>{{ 'cart.general.message' | t }}</div>
                </div>
            </div>
            
        </div>
        
        {% include 'shipping-calculator' %}
    </form>
{% endif %}