<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ product.title }}" />
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="http:{{ product.featured_image.src | product_img_url: 'grande' | remove: 'http:' | remove: 'https:' }}" />
  {% for variant in product.variants %}
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="{{ variant.price | money_without_currency | strip_html }}" />
    <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
    {% if product.available %}
    <link itemprop="availability" href="http://schema.org/InStock" />
    {% else %}
    <link itemprop="availability" href="http://schema.org/OutOfStock" />
    {% endif %}  
  </div>
  {% endfor %}
    
  {% capture tag_html %}
  {% if settings.prod_show_tags %}
    {% for tag in product.tags %}
      {% unless tag contains 'meta-' %}
      <li><a href="{% if collection %}{{ collection.url }}{% else %}/collections/all{% endif %}/{{ tag | handle }}">{{ tag }}</a></li>
      {% endunless %}
    {% endfor %}
  {% endif %}
  {% endcapture %}
    
  <div class="container desktop-only">
    <div class="page-header cf">
      <div class="filters">
        {% if tag_html contains 'a' %}
        <span class="tags">
          <a href="#" data-toggle-target=".tags.nav-row">{{ 'products.product.tags' | t }} <span class="state">+</span></a>
        </span>
        {% endif %}

        {% if settings.prod_show_type %}
        {% assign product_type_handle = product.type | handle %}
        {% if collections[product_type_handle].handle == product_type_handle %}
        {% assign type_url = collections[product_type_handle].url %}
        {% else %}
        {% assign type_url = product.type | url_for_type %}
        {% endif %} 
        <span class="see-more">{{ 'products.product.see_more_of_this_type' | t }} {{ product.type | link_to: type_url }}</span>
        {% endif %}
      </div>

      {% if collection %}
      <div class="social-area">
        <span class="nextprev">
          {% if collection.previous_product %}
          <a class="control-prev" href="{{ collection.previous_product }}">{{ 'products.product.previous' | t }}</a>
          {% endif %}
          {% if collection.previous_product and collection.next_product %} / {% endif %}
          {% if collection.next_product %}
          <a class="control-next" href="{{ collection.next_product }}">{{ 'products.product.next' | t }}</a>
          {% endif %}
        </span>
      </div>
      {% endif %}
    </div>
  </div>

  {% if tag_html contains 'a' %}
  <div class="tags nav-row spaced-row hidden desktop-only">
    <ul>{{ tag_html }}</ul>
  </div>
  {% endif %}

  
  <div id="main-product-detail" class="product-detail spaced-row container cf">
    
    {% assign gallery_main_image_size = '1024x1024' %}

    <div class="gallery layout-column-half-left {% if product.images.size > 1 %}has-thumbnails{% endif %}">
      <div class="main-image">
        {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

        <a class="shows-lightbox" href="{{ featured_image | product_img_url: 'master' }}" title="{{ featured_image.alt | escape }}">
          <img src="{{ featured_image | product_img_url: gallery_main_image_size }}" alt="{{ featured_image.alt | escape }}"/>
        </a>
      </div>

      {% if product.images.size > 1 %}
      <div class="thumbnails">
        {% for image in product.images %}
        <a {% if forloop.first %} class="active" {% endif %} title="{{ image.alt | escape }}" href="{{ image | product_img_url: gallery_main_image_size }}" data-full-size-url="{{ image | product_img_url: 'master' }}">
          <img src="{{ image | product_img_url: 'compact' }}" alt="{{ image.alt | escape }}"/>
        </a>
        {% endfor %}
      </div>
      {% endif %}

      <div class="mobile-slideshow">
        <div class="slideshow" data-slick='{"adaptiveHeight":true}'>
          {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
          <div class="slide"><img src="{{ featured_image | product_img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" /></div>
          {% for image in product.images %}
          {% unless image contains featured_image %}
          <div class="slide"><img data-lazy="{{ image | product_img_url: '1024x1024' }}" alt="{{ image.alt | escape }}" /></div>
          {% endunless %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="detail layout-column-half-right">
      {% include 'product-label' with product %}

      <h1 class="title">{{ product.title }}</h1>

      {% assign variant = product.selected_or_first_available_variant  %}
      <h2 class="h4-style price">
        {% if product.variants.size == 1 and product.compare_at_price_max > product.price_min %}
        <span class="was-price">{{ variant.compare_at_price | money }}</span>
        {% endif %}
        {{ variant.price | money }} 
      </h2>


      {% if settings.prod_show_vendor %}
      {% comment %}
      Do we have a collection that has the same name as our product vendor name?
      If we do, let's have the vendor link point to it.
      If not, we will point to the automatic vendor collection.
      {% endcomment %}
      {% assign product_vendor_handle = product.vendor | handle %}
      {% if collections[product_vendor_handle].handle == product_vendor_handle %}
      {% assign vendor_url = collections[product_vendor_handle].url %}
      {% else %}
      {% assign vendor_url = product.vendor | url_for_vendor %}
      {% endif %}
      <p class="vendor">{{ 'products.product.vendor' | t }} {{ product.vendor | link_to: vendor_url }}</p>
      {% endif %}


      <div class="product-form section">
        {% if product.available %}
        <form class="form" action="/cart/add" method="post" enctype="multipart/form-data" data-product-id="{{ product.id }}">
          <div class="input-row">
            {% if product.variants.size > 1 %}
            {% if product.options.size == 1 %}
            <div class="inline-option">
              <label for="product-select">{{ product.options.first }}</label>
              {% endif %}

              <select id="product-select-{{ product.id }}" name="id">
                {% for variant in product.variants %}
                <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %} data-sku="{{ variant.sku }}">{{ variant.title | escape }}</option>
                {% endfor %}
              </select>

              {% if product.options.size == 1 %}
            </div>
            {% endif %}
            {% else %}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />

            {% comment %}

            *HIDDEN FEATURE*

            Un-comment the code below to show the name of the variant, if there is only one. E.g. "Size: 11"

            {% endcomment %}

            {% comment %}

            {% unless product.variants.size != 1 or product.variants.first.title contains 'Default' %}
            <label class="singleopt">
              {% for option in product.options %}
              {% assign opt_idx = 'option' | append: forloop.index %}
              {{ option }}: {{ product.variants.first[opt_idx] }}<br/>
              {% endfor %}
            </label>
            {% endunless %}

            {% endcomment %}


            {% endif %}
          </div>
          <div class="input-row quantity-submit-row">
            <input id="quantity" class="select-on-focus" name="quantity" value="1" size="2" />
            <input type="submit" value="{{ 'products.product.add_to_cart' | t }}" />
          </div>
        </form>
        {% else %}
        <p><em>{{ 'products.product.product_unavailable' | t }}</em></p>
        {% endif %}
      </div>


      {% if settings.prod_desc_pos == 'beside' %}
      <div class="description user-content {% if settings.lightbox_imgs %}lightboximages{% endif %}">{{ product.description }}</div>

      {% comment %} Add code to show under the description on the line below this one, if beside the image {% endcomment %}
      <!-- Underneath the description -->

      {% endif %}

      <div class="desktop-only">
        {% include 'social-sharing' %}
      </div>
    </div>

    {% if settings.prod_desc_pos == 'below' %}
    <div class="description user-content {% if settings.lightbox_imgs %}lightboximages{% endif %} padded-row">{{ product.description }}</div>

    {% comment %} Add code to show under the description on the line below this one, if full-width underneath the image {% endcomment %}
    <!-- Underneath the description -->
    {% endif %}

    <script>window.productJSON.push({{ product | json }});</script>
    
  </div><!-- /.product-detail -->

  <div class="mobile-only product-meta">
    {% if tag_html contains 'a' %}
    <div class="tags tags-inline product-meta-row">
      <div class="container">
        <label>{{ 'products.product.tags' | t }}</label>
        <ul>{{ tag_html }}</ul>
      </div>
    </div>
    {% endif %}
    <div class="product-meta-row">
      <div class="container">
        {% include 'social-sharing' %}
      </div>
    </div>
    <div class="product-meta-row further-nav">
      <div class="container">
        <div class="prev">
          {% if collection.previous_product %}
          <a class="control-prev" href="{{ collection.previous_product }}"><i class="icon-arrow3-left"></i></a>
          {% endif %}
        </div>
        
        <div class="see-more">
          {% if settings.prod_show_type %}
          {% assign product_type_handle = product.type | handle %}
          {% if collections[product_type_handle].handle == product_type_handle %}
          {% assign type_url = collections[product_type_handle].url %}
          {% else %}
          {% assign type_url = product.type | url_for_type %}
          {% endif %} 
          {{ product.type | link_to: type_url }}
          {% endif %}
        </div>
        
        <div class="next">
          {% if collection.next_product %}
          <a class="control-next" href="{{ collection.next_product }}"><i class="icon-arrow3-right"></i></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  {% include 'related-products' %}
  
</div><!-- /.product-page-layout -->